.tiptap {
  margin-top: 0;
  color: white; /* Set default font color to white */
  width: 100%;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
  color: white; /* Ensure heading font color is white */
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: #27282c; /* Set code background color to #27282c */
  border-radius: 0.4rem;
  color: white; /* Ensure inline code text color is white */
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
  text-wrap: pretty;
}

.tiptap pre {
  background: #27282c; /* Set code block background color to #27282c */
  border-radius: 0.5rem;
  color: white; /* Ensure code block text color is white */
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  outline: none;
  text-wrap: wrap;
}

.tiptap pre code {
  background: none;
  color: inherit; /* Inherit text color from the parent pre block */
  font-size: 0.8rem;
  padding: 0;
  text-wrap: pretty;
}

.tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem;
  color: white; /* Ensure blockquote text color is white */
  text-wrap: pretty;
}

.tiptap hr {
  border: none;
  border-top: 1px solid var(--gray-2);
  margin: 2rem 0;
}

.ProseMirror:focus-visible {
  outline: none !important;
}

.tiptap p {
  font-size: 16px;
  color: white; /* Ensure paragraph text color is white */
}
  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

.tiptap a {
  color: cadetblue
}

.tiptap img {
  display: block;
  max-width: 100%; 
}

.isReply p {
  font-size: 12px !important;
}


.tiptap .mention {
  box-decoration-break: clone;
  color: lightblue;
  padding: 0.1rem 0.3rem;
}


.unread-divider {
  width: 90%;
        color: white;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        border-radius: 2px;
}

.mention-item {
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.4rem;
  position: relative;
  max-height: 200px;
  overflow: auto;

  button {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 0.25rem;
    text-align: left;
    font-size: 16px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    &:hover,
    &:hover.is-selected {
      background-color: gray;
    }
  }
}