.reaction-container {
  position: relative; /* Parent must be positioned relatively */
}

.emoji-picker {
  position: absolute; /* Picker positioned absolutely relative to the parent */
  right: 0;
  z-index: 9000000000; /* Ensure picker appears above other content */
}

.message-container {
  overflow: visible; /* Ensure the message container doesn't cut off the picker */
}


.reaction-container {
  position: relative;
}

.emoji-picker {
  overflow: hidden;
  width: auto
}

.EmojiPickerReact.epr-dark-theme {
  --epr-emoji-size: 18px; /* Adjust emoji size for dark mode */
}