.ql-editor {
    min-height: 200px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: Roboto;
    max-height: 225px;
    overflow-y: scroll;
    padding: 0px !important;
  }

 .ql-editor::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: default;
  }
 .ql-editor::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }
  
 .ql-editor::-webkit-scrollbar {
    width: 16px;
    height: 10px;
    background-color: rgba(229, 229, 229, 0.70);
  }
  
 .ql-editor::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
    border-radius: 8px;
    background-clip: content-box;
    border: 4px solid transparent;
  }
  
  
  .ql-editor img {
    cursor: default;
  }
  
  .ql-editor-display {
    min-height: 20px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: Roboto;
    padding: 0px !important;
  }
  
  .ql-editor-display img {
    cursor: default;
  }
  
  .ql-container {
    font-size: 16px
  }

  .ql-toolbar .ql-stroke {
    fill: none !important;
    stroke: black !important;
}

.ql-toolbar .ql-fill {
    fill: black !important;
    stroke: none !important;
}

.ql-toolbar .ql-picker {
    color: black !important;
}

.ql-toolbar .ql-picker-options {
    background-color: white !important;
}